.my-masonry-grid {
    display: flex;
    padding: 20px;
    font-size: 0.9rem;
    line-height: 1.25rem;
}

.my-masonry-grid_column div {
    text-align: left;
    width: 230px;
    max-height: 460px;
    margin: 10px;
    padding: 4px 16px 12px;
    border-radius: 10px;
    box-shadow: 0 0 1px 1px hsl(0, 0%, 83%);
    transition: 0.2s;

    /* ----- */
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.my-masonry-grid_column div:hover {
    cursor: pointer;
    box-shadow: 0 0 5px 2.2px hsl(0, 0%, 83%);
}
