@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/* =============
   global styles 
   ============= */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

a {
    text-decoration: none;
}
img {
    display: block;
    width: 100%;
}
button,
input,
textarea {
    border: none;
    outline: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}
button {
    cursor: pointer;
}

/* ============
   masonry grid
   ============ */

.my-masonry-grid {
    display: flex;
    padding: 20px;
    font-size: 1rem;
    line-height: 1.25rem;
}

/* note box */

.note-box {
    text-align: left;
    margin: 10px;
    line-height: 1.3rem;
    border-radius: 10px;
    box-shadow: 0 0 1px 1px hsl(0, 0%, 83%);
    width: 230px;
    max-height: 450px;
    overflow: hidden;
    transition: 0.3s;
}

.note-box:hover {
    cursor: default;
    box-shadow: 0 0 5px 2.2px hsl(0, 0%, 83%);
}
.note-box > div:first-child {
    padding: 4px 16px 2px;
    cursor: pointer;
}
.note-box > div:first-child > * {
    padding: 4px 0;
}
.note-box > .icons {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 0 0 3px;
    font-size: 1.2rem;
    margin-right: 5px;
}
.note-box > .icons > * {
    margin-left: 10px;
    padding: 2px;
    border-radius: 30px;
    padding: 6px 6px 1px;
    transition: 0.2s;
}
.note-box > .icons > *:hover {
    background-color: hsl(56, 45%, 80%);
    cursor: pointer;
}

/* ============
   Modal styles
   ============ */

.modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    border: 1px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    min-width: 30vw;
    max-width: 50vw;
    max-height: 85vh;
    overflow: auto;
}

#modal-modal-title {
    font-weight: bold;
}

/* responsive */
@media (max-width: 750px) {
    /* grid notes */
    .note-box {
        width: 70vw;
    }
    .note-box > div:first-child {
        font-size: 1.2rem;
        line-height: 1.5rem;
        min-height: 23vh;
    }
    .note-box > div:first-child > * {
        padding: 7px 0;
    }

    /* modal */
    .modal-box {
        min-width: 86vw;
        max-width: 95vw;
    }
}
